.pagina_cadastro .sidebar a[href="cadastro.html"]{
  background-color: var(--color-terciary);
}
main{
  height: 100vh;
  margin: 0 auto;
  padding-left: 34.633rem;
  background-image: url(assets/image/background_cadastro.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 88.4rem;
  height: 4rem;
  margin: 0 auto;
  padding-left: 3rem;
}
.back a {
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: var(--color-primary);
}
form {
  font-family: "Roboto", sans-serif;
  max-width: 88.4rem;
  height: 68.3rem;
  border-top-left-radius: 2.0rem;
  border-top-right-radius: 2.0rem;
  background-color: #D9D9D9;
  box-shadow: 0px -4px 30px 10px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
.form_header {
  width: 79.2rem;
  height: 5.7rem;
  padding-left: 3rem;
}
.form_header h1{
  font-weight: var(--font-weight-bold);
  font-size: 3.9rem;
  line-height: 100%;
  letter-spacing: -0.05;
  color:var(--color-primary);
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.borda {
  width: 100%;
  height: 1px;
  background-color: #390808;
}
.profile_container {
  
  padding: 4rem 0 3rem 3rem;
  
  margin-top: 1rem;
}
.profile_data {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.profile_data label {
  font-weight: var(--font-weight-fino);
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #6c6c6b;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.profile_data input {
  width: 41.1rem;
  height: 4.6rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #434341;
}
.profile_data input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #aeaead;
}
.profile_btn {
  display: flex;
  justify-content: flex-end;
}
.user_btn {
  align-items: end;
  width: 13.4rem;
  height: 3.8rem;
  border-radius: 1rem;
  border: none;
  background-color: #52524F;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);

  font-weight: var(--font-weight-bold);
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: -5%;
  color: #FFFFFF;

}
.user_btn:hover{
  background-color: #9e9e9a;
  color:#390808;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.user_container {
  
}
.user_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: #FFFFFF;
}
#valentina, #amanda {
  background-color: var(--color-terciary);
}
#alan, #carlos_eduardo {
  background-color: #A2A2A2;
}
.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user span {
  font-weight: var(--font-weight-normal);
  font-size: 1.76rem;
  line-height: 100%;
  letter-spacing: -0.05em;
}
.user_info h2 {
  font-weight: var(--font-weight-bold);
  font-size: 3.171rem;
  line-height: 100%;
  letter-spacing: -0.05rem;
}
.user_info p {
  font-weight: var(--font-weight-normal);
  font-size: 2.64rem;
  line-height: 100%;
  letter-spacing: -0.05;
  text-align: center;
}
.user_remove {
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.user_remove p {
  font-family: Montserrat;
  font-weight: var(--font-weight-normal);
  font-size: 2.34rem;
  line-height: 2.3rem;
  letter-spacing: -0.05em;
  text-align: center;
}
.user_remove button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 15.9rem;
  height: 3rem;
  border-radius: 0.8rem;
  background-color: var(--color-primary);
  margin-top: 2rem;

  font-family: Montserrat;
  font-weight: var(--font-weight-bold);
  font-size: 1.422rem;
  line-height: 100%;
  letter-spacing: -0.05em;
}
.user_remove button:hover {
  background-color: var(--color-secundary);
  color: #FFFFFF;
}