* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; /* aqui mudei o tamanho da fonte, a cada 10 px = 1rem pra melhorar a responsividade*/
  --font-family: "Montserrat", sans-serif;
  --font-weight-fino:275;
  --font-weight-light:300;
  --font-weight-normal:400;
  --font-weight-medio:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;
  --font-weight-extra-bold:800;
  --color-primary: #390808;
  --color-secundary:#752237;
  --color-terciary: #52524F;
  --background:#D9D9D9;
}
body {
  height: 100%;
  font-family: var(--font-family);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #390808;
  padding-left: 37.833rem;
  height: 8.45rem;
}
header input{
  width: 42.4rem;
  height: 4.333rem;
  border-radius: 1.1rem;
  border: none;
  cursor: pointer;
  color:#390808;
  font-size: 1.6rem;
  padding-left: 1rem;
}
header input::placeholder{
  font-family: Montserrat;
  font-weight: var(--font-weight-normal);
  font-size: 1.682rem;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-align: start;
  padding-left: 4rem;
  background-image: url(assets/icons/lupa.svg);
  background-repeat: no-repeat;
  background-position: 1.0rem;
}
.profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin-right: 5rem;
}
.user_name {
  color: #ffffff;
  background-image: url(assets/icons/seta_para_baixo.svg);
  background-repeat: no-repeat;
  background-position: 10rem;
  padding-right: 5rem;
  font-weight: var(--font-weight-normal);
  font-size: 2.6rem;
  line-height: 100%;
  letter-spacing: -0.04em;
}
.notifications{
  display:none;
  position: absolute;
  background-color: #D9D9D9;
  border: 1px solid #ccc;
  padding: 1rem 0;
  border-radius: 6px;
  box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.1);
  min-width: 17rem;
  z-index: 100;
}
.dropdown_avatar{
  display: none;
  position: absolute;
  background-color: #D9D9D9;
  border: 1px solid #ccc;
  padding: 1rem 0;
  border-radius: 6px;
  box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.1);
  min-width: 17rem;
  z-index: 100;
}
.dropdown_menu{
  display:none;
  position: absolute;
  background-color: #D9D9D9;
  border: 1px solid #ccc;
  padding: 1rem 0;
  border-radius: 6px;
  box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.1);
  min-width: 17rem;
  z-index: 100;
}
.dropdown_wrapper{
  position: relative;
  display:inline-block;
}
.dropdown_wrapper:hover .dropdown_menu {
  display: block;
}
.dropdown_wrapper:hover .dropdown_avatar {
  display: block;
}
.dropdown_wrapper:hover .notifications {
  display: block;
}
.profile a {
  display: flex;
  text-decoration: none;
  color: #390808;
  padding-left: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.3s ease; 
  transform-origin: center center;
  margin-bottom: 0.8rem;
}
.dropdown_wrapper a:hover{
  transform: scale(1.13);
}

.sidebar {
  position:fixed; 
  top: 0;
  left: 0;
  width: 34.633rem;
  height: 100%;
  background-color:var(--color-primary);
  color: white;
  font-weight: var(--font-weight-normal);
  font-size: 2.164rem;
  line-height: 100%;
  letter-spacing: -0.04em;
  border-top-right-radius: 2.7rem;
  border-bottom-right-radius: 2.7rem;
  box-shadow: 4.33px -1.08px 8.88px 0px #000000BA;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 6.7rem;
  margin-top: 1.5rem;
}
.logo a {
  font-family: MADE TOMMY;
  font-weight: var(--font-weight-extra-bold);
  font-size: 3.347rem;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-align: center;
  background: linear-gradient(274.35deg, #52524F -27.29%, #FFFFFF 90.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 5px  8px rgba(0, 0, 0, 0.2);
}
ul li a{
  display: flex;
  text-decoration: none;
  color:white;
  margin-left: 4rem;
  margin-bottom: 2.7rem;
  transition: transform 0.3s ease; 
  transform-origin: center center;
}
li:hover {
  transform: scale(1.13);
}
.borda {
  width: 30rem;
  background-color: #FFFFFF;
  height: 1px;
  margin-top: 6.6rem;
  margin-left: 2.3rem;
}
ul:last-child{
  padding-top: 4.3rem;
}
.sidebar img {
  margin-right: 0.8rem;
}

main {
  background-color: #E9EDF0;
  padding-left: 37.833rem;
  padding-top: 2.2rem;
  height: 100vh;
}
.livros_wrapper{
  background-color: #FFFFFF;
  border-radius: 1.6rem;
  width: 80rem;
  height: 33.15rem;
  top: 126.75px;
  left: 361.83px;
  padding: 1.4rem;
  margin-bottom: 2.1rem ;
}
.section_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.2rem;
  font-weight: var(--font-weight-bold);
  font-size: 2.253rem;
  line-height: 100%;
  letter-spacing: -0.05em;
  color:#525252;
}
.section_header button {
  width:8.125rem;
  height: 2.383rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #52524F70;
  color:  #52524F;
  background-image: url(assets/icons/seta_direita.svg);
  background-repeat: no-repeat;
  background-position: 6.5rem;
  cursor: pointer;
  box-shadow: 0rem 1.6rem 3.2rem rgba(0, 0, 0, 0.25); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.section_header button:hover{
  box-shadow: 0rem 2.4rem 4.8rem rgba(0, 0, 0, 0.3); 
  transform: scale(1.10);
}
.recomendados {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}
.livros_recomendados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.livros_recomendados img {
  width: 10.836rem;
  height: 16.245rem;
}
.livro1 {
  background-color:#193646 ;
  border-radius: 1.0rem;
  padding: 2.058rem 1.6rem 1rem 1.6rem;
}
.livro2 {
  background-color:#58595B ;
  border-radius: 1.0rem;
  padding: 2.058rem 1.6rem 1rem 1.6rem;
}
.livro3 {
  background-color:#79013B ;
  border-radius: 1.0rem;
  padding: 2.058rem 1.6rem 1rem 1.6rem;
}
.livro4 {
  background-color:#3A7294 ;
  border-radius: 1.0rem;
  padding: 2.058rem 1.6rem 1rem 1.6rem;
}

